body {
    text-align: center;
}

.nav { 
    
    background-color: #000000;
    border-radius: 5px;    
    margin-top: 0;
    position: fixed;
    width: 100%;    
    border-bottom: 2px solid cyan;     
}

nav img {
    float:left;    
    height: 60px; 
    margin-left: 30px;     
}

h1 {
    display: inline-block;
    font-size: 25px;    
    color: #FFFFFF;
    margin-left: 30px;

}

h5 {
    color:#FFFFFF;
    font-size: 15px;
    margin-top: 40px;
    margin-left: -65px

}

nav ul {    
    margin-top: 20px;
    margin-left: 390px;    
}

nav li {
    display: inline-block;
    padding: 10px;
    color: white;
    
}

nav li:hover{
    color:cyan;
}

.redes-sociais {
    position: fixed;
    margin-top: 300px;
    width: 40px;
    height: 205px;
    background-color: rgba(180, 255, 255, 0.2);
    border-radius: 10px; 
    border: 1px solid gray;       
}


.redes-sociais ul {
    margin-top: 10px;
    margin-left: -40px;

}

.redes-sociais li {
    list-style-type: none;
    padding-bottom: 7px;        
    
}

.redes-sociais li:hover {
    background-color:  rgba(93, 93, 90, 0.5);    
}

.chat {
    position: fixed;
    margin-top: 860px;
    margin-left: 1800px;
}

.login {
    margin-left: 350px;
}

.destaque {    
    height: 1200px;
    width: 100%;
    background-color:cornflowerblue;

}

.destaque img { 
    margin-top: 200px;   
    margin-left: 40px;
    width: 350px;
    height: 350px;
}

.beneficios {
    height: 500px;
    width: 100%;
    background-color: violet;

}

.azul {
    background-color: blue;
    height: 500px;
}

.amarelo {
    background-color: yellow;
    height: 500px;
}

.verde {
    background-color: green;
    height: 500px;
}

.depoimentos {
    width: 100%;
}


footer {
    background:#000000;
    height: 100px;
    width: 100%;
    color: white;    
}

h6 {
    margin-top: 55px;
    margin-left: -90px;
}

h3 {
    margin: 20px;
}

h6, h3 {
    float: left;
}

[data-tooltip] {
    position: relative;
    font-weight: bold;
  }
  
  [data-tooltip]:after {
    display: none;
    position: absolute;
    top: -40px;
    padding: 5px;
    border-radius: 3px;
    right: calc(100% + 2px);
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: #0095ff;
    color: White;
  }
  
  [data-tooltip]:hover:after {
    display: block;
  }
  
    
    


